[Desktop Entry]
Name=Also Calm

X-KDE-PluginInfo-Name=Also-Calm
X-KDE-PluginInfo-Author=lassekongo83
X-KDE-PluginInfo-License=CC-BY-SA 3.0
X-KDE-PluginInfo-Website=http://lassekongo83.deviantart.com/art/Also-Calm-164219941
